body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 60px;
  background-color: rgb(230, 239, 210);
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  padding: 20px;
}
.link-pages {
  display: flex;
  justify-content: space-evenly;
}
.site-nav {
  color: green;
}
